
.Hero{
 color:var(--main-color);
}

.Hero > h1{
    font-size: 7em;
    margin:0;
    
}
.Hero p{
    margin:0;
    width: 50%;
}
span{
    position: relative;
    top:-50px;
    left:5px;
    display: inline-block;
    width: 45%;
    height: 30px;
    background-color: var(--complement-color);
    z-index: -1;
    transform: rotate(-2deg);
}

.bg-img{
    background-image:url('../asset/Film-Review-Christopher-Nolan-Oppenheimer.jpg');
    background-size: cover;
    position:absolute;
    width: 800px;
    height: 600px;
    top:7px;
    left:460px;
    z-index: -3;
}

.cover-bg-img{
    position:absolute;
    width: 800px;
    height: 600px;
    top:7px;
    left:460px;
    z-index: -2;
    background: radial-gradient(ellipse, transparent 8%, var(--bg-color) 65%);
}