nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
nav ul{
    display: flex;
    margin:0;
    padding: 0;
}
nav li{
    color:var(--main-color);
    margin-right: 50px;
    text-decoration: none;
    list-style-type: none;
}
input{
    width: 50%;
    border-radius: 30px;
    padding:0.2rem;
    border: none;
}
a{
    color:var(--main-color);
    text-decoration: none;
}
.custom{
    color:var(--main-color);
}
.right-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-nav input, i{
    margin-left:30px;
}


@media only screen and (max-width: 600px) {
    nav{
        margin: 30px 0;
        box-sizing: border-box;
        padding:0 10px;
    }
    nav li {
        border:2px solid white;
        border-radius: 10px;
        padding: 5px;
        margin:0 5px;
        font-size: 0.7em;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
    }

    .right-nav{
        display: none;
    }
    

  }

