nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
nav ul{
    display: flex;
    margin:0;
    padding: 0;
}
nav li{
    color:var(--main-color);
    margin-right: 50px;
    text-decoration: none;
    list-style-type: none;
}
input{
    width: 50%;
    border-radius: 30px;
    padding:0.2rem;
    border: none;
}
a{
    color:var(--main-color);
    text-decoration: none;
}
.custom{
    color:var(--main-color);
}
.right-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-nav input, i{
    margin-left:30px;
}
