.logincontainer h1 
    {color: white;}
.Profilepage p
    {color:white;}
.Profilepage {display:flex;
    justify-content: center;}
.email{display:flex;}
.imageprofile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
.Favoris h3 
    {color: white;}
.mignaturesfilmscontainer{
    display:flex;gap: 8px;}
.mignaturesfilms{
     
        width: 50px;
        height: 50px;
        background-color: rgb(223, 222, 222);
        border-radius: 5%;
  }

.Profilcontainer
{display:flex;}