.profil-page-wrapper{
    display: flex;
    justify-content: flex-start;
    gap:40px;
    margin-top:40px;
}

.sidebar-border{
    width:2px;
    height: 80vh;
    background-color: grey;
}
.Profilcontainer{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.profil-page-info{
    display: flex;
}
.profil-page-info img{
    width: 150px;
    height:150px;
    border-radius: 50%;
}
.profil-page-pseudo-mail{
    margin-left: 10px;
}
.profil-page-pseudo-mail :first-child{
    font-size: 2em;
    font-weight: bold;
}

.fav-container{
    margin-top:30px;
    display: flex;
    flex-direction: column;
}
.fav-movie-list{
    display: flex;
    gap:10px;
}
.favorite-movie{
    width: 10%;
}
.favorite-movie img{
    width: 100%;
}