/* src/Sidebar.css */
.sidebar {
    display:flex;
    flex-direction: column;
    width:15%;
    height: 100vh;
  }
  
  .sidebar h2 {
    color: white;
    text-align: left;
  }
  
  .sidebar ul {
    display:flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 20px 0;
    text-align: left;
  }

  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757;
  }