body{
  background-color: var(--bg-color);
  padding: 0 40px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
:root{
  --bg-color: #282828;
  --main-color: #F6F6F6;
  --complement-color : #E79800;
  scrollbar-width: none;
}
SideBar{
  /* src/App.css */
.App {display: flex;}

.content 
{   margin-left: 200px;
    padding: 20px;
    flex-grow: 1;}

}
